name: Auto Release Draft

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          immutableCreate: true
          generateReleaseNotes: true
          draft: true
          skipIfReleaseExists: true
